// 給項目提供scss全局變數
// 設置scss全局變數
// $color: red

// 主頁左側導航頁寬度
$base-menu-width:260px;
// 主頁左側導航頁背景色
$base-menu-background:#001529;
$base-menu-min-width:50px;

// 主頁頂部導航的高度
$base-tabbar-height:50px;

// 主頁左側導航頁logo高度
$base-menu-logo-height:50px;

// 主頁左側導航頁logo右側文字大小
$base-logo-title-fontSize:20px;
